apscheduler==3.11.0
bcrypt==4.2.1

# dspy
dspy-ai==2.6.22
dspy==2.6.22

# spacy model download
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz#egg=en_core_web_sm

# app dependencies
fastapi[standard]==0.115.11
httpx==0.28.1
cryptography==44.0.3

# auth
pympler==1.1
python-multipart==0.0.18
rich==13.9.4

# util libraries
blis==0.7.11
spacy==3.7.5
uvicorn[standard]==0.29.0

# weaviate
weaviate-client==4.14.0

# util
nest_asyncio==1.6.0
psutil==7.0.0

# visualisation
matplotlib>=3.10.3
