accelerate==1.5.2

# Testing
deepeval==2.5.7
pytest==7.4.4
pytest-asyncio==0.21.2

# setuptools
setuptools==78.1.0

# pre-commit
pre-commit==4.2.0

# 
# openai==1.61.0

# mkdocs
mkdocs-material[imaging]==9.6.12
mkdocstrings[python]==0.29.1
pillow==10.4.0
cairosvg==2.7.1

